@charset "UTF-8";

@media screen and (min-width: 769px) {
    #burguer {
        display: none;
    }

    #itens {
        visibility: visible;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: sticky;
        height: auto;

        background-color: transparent;
        overflow: hidden;
        transition: .5s;
        list-style: none;
    }
    #itens li a{
        font-size: 1em;
        font-weight: 400;
        text-decoration: none;
        color: var(--cor-intermediaria);
        text-shadow: 0px 0px 2px  rgb(255, 255, 255);
        width: auto;
        transition: .3s;
        padding: 10px;
    }
    #itens li a:hover {
        background-color: transparent;
    }

    .rolagem {
        height: 70px;
    }

    .header-btn {
        display: block;
    }

    .header a {
        display: block;
    }

    .imagem-capa-sec-1 {
        display: block;
        animation: imagem2 1.5s ease-in-out infinite alternate;
    }

    .imagem-capa-sec-1 {
        max-width: 250px;
    }

    .capa-cell {
        display: none;
    }

    .sec-1 {
        width: 100%;
        padding-top: 80px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        background-color: white;
    }

    @keyframes imagem2 {
        0% {
            transform: translateY(-3px);
        }

        100% {
            transform: translateY(2px);
        }
    }

    .sec-2 {
        align-items: center;
    }
    
    .sec-3-img img{
        width: auto;
        max-width: 400px;
        height: 350px;
        transform: scale(1);
        position: sticky;
        opacity: 1;
        animation: imagem2 1.5s ease-in-out infinite alternate;
    }

    .cards-container-sec-3 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        width: 100%;
    }
}

@media screen and (min-width: 900px) {
    .imagem-homem-sec-1 img {
        width: 450px;
    }
}