@charset "UTF-8";

@media screen and (min-width: 769px) {
    #burguer {
        display: none;
    }

    #itens {
        visibility: visible;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: sticky;
        height: auto;

        background-color: transparent;
        overflow: hidden;
        transition: .5s;
        list-style: none;
    }
    #itens li a{
        font-size: 1em;
        font-weight: 400;
        text-decoration: none;
        color: white;
        width: auto;
        transition: .3s;
        padding: 10px;
    }
    #itens li a:hover {
        background-color: transparent;
    }

    .rolagem {
        height: 70px;
    }

    .header-btn {
        display: block;
    }

    .header a {
        display: block;
    }

    .sec-1-img {
        display: block;
        animation: imagem2 1.5s ease-in-out infinite alternate;
    }

    .sec-1-img img {
        width: 300px;
    }

    @keyframes imagem2 {
        0% {
            transform: translateY(-5px);
        }

        100% {
            transform: translateY(5px);
        }
    }
    
    .sec-3-img img{
        width: auto;
        max-width: 400px;
        height: 350px;
        transform: scale(1);
        position: sticky;
        opacity: 1;
        animation: imagem2 1.5s ease-in-out infinite alternate;
    }

    .sec-3 {
        justify-content: space-around;
    }
}

@media screen and (min-width: 900px) {
    .sec-1-img img {
        width: 450px;
    }
}