@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');

:root {
    --cor-escura: #133524;
    --cor-principal: #C5D7A7;
    --cor-intermediaria: #6FBF83;

    --font: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #000000;
}

::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: var(--cor-principal);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font);
}
/* HEADER */

.header {
    width: 100%;
    height: 15vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: .5s;
    z-index: 999;
}

.header-logo img {
    width: 65px;
}

.header-btn {
    display: none;
}

/* HEADER NAVEGAÇÃO */

#itens {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 66px;
    left: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.33);
    overflow: hidden;
    z-index: 9999;
    transition: .5s;
    list-style: none;
}

#itens.abrir-menu {
    visibility: visible;
    height: 200px;
}

#itens li a{
    font-size: 1.5em;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 20px;
    display: block;
    width: 100vw;
    transition: .3s;
}

#itens:hover li a {
    opacity: .3;
}

#itens li a:hover {
    transform: scale(1.1);
    color: white;
    text-shadow: 0px 0px 10px white;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 1;
}

#burguer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    width: 25px;
    height: 20px;
    background-color: transparent;
    border: none;
    z-index: 5;
}

.linha {
    width: 25px;
    height: 2px;
    background-color: white;
    display: block;
    position: relative;
    transform-origin: center;
    transition: 0.5s;
    z-index: 1000;
}


#burguer.animacao-menu .linha:nth-child(1){
    transform: translateY(9px) rotate(-45deg);
    background-color: var(--cor-principal);
    box-shadow: 0px 0px 7px var(--cor-principal);
}

#burguer.animacao-menu .linha:nth-child(2) {
    width: 0;
}

#burguer.animacao-menu .linha:nth-child(3) {
    transform: translateY(-9px) rotate(45deg);
    background-color: var(--cor-principal);
    box-shadow: 0px 0px 7px var(--cor-principal);
}

.rolagem {
    background-color: rgba(0, 0, 0, 0.33);
    height: auto;
}

/* MAIN */

/*  SEC 1 */

.sec-1 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(to left, #1b1b1b 0%, black 100%);
}

.article-sec-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec-1-img {
    display: none;
}

.article-sec-1 h1 {
    font-size: 2.5em;
    color: var(--cor-principal);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.308);
}

.article-sec-1 h2{
    font-size: 1em;
    color: var(--cor-principal);
    margin-bottom: 30px;
}

.article-sec-1 p {
    width: 80vw;
    max-width: 350px;
    color: white;
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
}

.btn {
  background-color: transparent;
  border: 1px solid var(--cor-principal);
  border-radius: 8px;
  color: var(--cor-principal);
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
  transition: .5s;
}

.btn:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.btn:active {
  background-color: #000000;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 5px 5px var(--cor-principal);
}

.header-btn {
    display: none;
}

.footer-btn {
    border: none;
    background-color: #000000;
    color: var(--cor-principal);
}

/* SEC 2 */

.sec-2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    padding: 65px 30px;
    padding-bottom: 0px;
    gap: 50px;
    background-color: #C5D7A7;
}

/* SEC 2 CARDS */

.card-comentarios {
    max-width: 300px;
    height: 400px;
    border-radius: 20px;
    box-shadow: -5px -10px 10px rgba(0, 0, 0, 0.2);
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: white;
}

.card-comentarios div {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.card-comentarios div img{
    width: 100%;
    border-radius: 50%;
    z-index: 1;
}

.card-comentarios p {
    font-size: 15px;
    text-align: center;
}


/* SEC 3 */

.sec-3 {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to left, #1b1b1b 0%, black 100%);
}

.article-sec-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.article-sec-3 h1 {
    font-size: 2.5em;
    color: var(--cor-principal);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.308);
    z-index: 2;
    text-shadow: 3px 2px 5px black;
}

.article-sec-3 p {
    width: 70vw;
    max-width: 350px;
    color: white;
    font-size: 1em;
    text-align: justify;
    z-index: 2;
    text-shadow: 3px 2px 5px black;
}

.onda {
    width: 100%;
    height: 200px;
    transform: scaleX(-1);
    position: absolute;
    top: 0;
    right: 0;
    background: url(../imagens/onda-cima.png) no-repeat;
    background-size: contain;
}

.onda2 {
    width: 50%;
    height: 120px;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../imagens/onda-cima.png) no-repeat;
    background-size: contain;
    display: none;
}

.onda3 {
    width: 100%;
    height: 88px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(../imagens/onda.png) no-repeat;
    background-size: contain;
}

.onda4 {
    width: 50%;
    height: 86px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: url(../imagens/onda.png) no-repeat;
    background-size: contain;
    display: none;
}

@keyframes imagem2 {
    0% {
        transform: translate(-50%, -40%);
    }
    100% {
        transform: translate(-49.2%, -39.2%);
    }
}

.sec-3-img img{
    width: 300px;
    height: 300px;
    transform: scaleX(-1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    opacity: .5;
    z-index: 1;
    animation: imagem 0.5s ease-in-out infinite alternate;
}

/* FOOTER */

.footer {
    display: flex;
    flex-direction: column;
}

.footer section {
    width: 100%;
    height: 120px;
    background-color: var(--cor-principal);
}

.footer section:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.096);
}

.footer section:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer section:nth-child(2) p {
    font-size: 10px;
}

.footer section:nth-child(2) p a {
    color: black;
    transition: .2s;
}

.footer section:nth-child(2) p a:hover {
    color: rgb(255, 255, 255);
}

.footer-logo {
    width: 100px;
    height: 100px;
}


.footer-logo img {
    width: 100%;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.514));
}
