@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');

:root {
    --cor-escura: #133524;
    --cor-principal: #C5D7A7;
    --cor-intermediaria: #6FBF83;

    --font: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    width: 2px;
    background-color: #000000;
}

::-webkit-scrollbar-thumb {
    width: 2px;
    background-color: var(--cor-intermediaria);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font);
}

.verde {
    color: var(--cor-intermediaria);
}
/* HEADER */

.header {
    width: 100%;
    position: fixed;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: .5s;
    z-index: 999;

    background-color: #000000;
}

.header-logo img {
    width: 65px;
}

.header-btn {
    display: none;
}

/* HEADER NAVEGAÇÃO */

#itens {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 75.5px;
    left: 0;
    height: 0;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    z-index: 9999;
    transition: .5s;
    list-style: none;
}

#itens.abrir-menu {
    visibility: visible;
    height: auto;
}

#itens li a{
    font-size: 1.5em;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 20px;
    display: block;
    width: 100vw;
    transition: .3s;
}

#itens:hover li a {
    opacity: .3;
}

#itens li a:hover {
    transform: scale(1.1);
    color: white;
    text-shadow: 0px 0px 10px white;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 1;
}

#burguer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    width: 25px;
    height: 20px;
    background-color: transparent;
    border: none;
    z-index: 5;
}

.linha {
    width: 25px;
    height: 2px;
    background-color: var(--cor-intermediaria);
    display: block;
    position: relative;
    transform-origin: center;
    transition: 0.5s;
    z-index: 1000;
}


#burguer.animacao-menu .linha:nth-child(1){
    transform: translateY(9px) rotate(-45deg);
    background-color: var(--cor-intermediaria);
    box-shadow: 0px 0px 7px var(--cor-intermediaria);
}

#burguer.animacao-menu .linha:nth-child(2) {
    width: 0;
}

#burguer.animacao-menu .linha:nth-child(3) {
    transform: translateY(-9px) rotate(45deg);
    background-color: var(--cor-intermediaria);
    box-shadow: 0px 0px 7px var(--cor-intermediaria);
}

.rolagem {
    background-color: rgb(0, 0, 0);
}

/* MAIN */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*  SEC 1 */

.sec-1 {
    width: 100%;
    max-width: 1500px;
    padding: 20px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #FBFBFB;
}

.imagem-capa-sec-1 {
    display: none;
}

.capa-cell {
    max-width: 300px;
    width: 100%;
}
.article-sec-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}


.article-sec-1 h1 {
    font-size: 1.5em;
    color: var(--cor-intermediaria);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
}

.article-sec-1 h2{
    font-size: 1em;
    color: var(--cor-intermediaria);
    margin-top: 5px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
}

.h2 {
    padding-bottom: 20px;
    padding-top: 20px;
}

.article-sec-1 p {
    width: 100%;
    max-width: 500px;
    color: black;
    font-size: 1em;
    text-align: justify;
    margin-top: 20px;
}

.article-sec-1 span {
    margin-top: 20px;
}

.btn {
  background-color: transparent;
  border: 1px solid var(--cor-intermediaria);
  border-radius: 8px;
  color: var(--cor-intermediaria);
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
  transition: .5s;
}

.btn:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.btn:active {
  background-color: #000000;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 5px 5px var(--cor-intermediaria);
}

.header-btn {
    display: none;
}

.header a {
    display: none;
}

.footer-btn {
    border: none;
    background-color: #000000;
    color: var(--cor-principal);
}

/* SEC 2 */

.sec-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    padding-top: 50px;
    gap: 50px;
    color: white;
    background-image: linear-gradient(to left, #1b1b1b 0%, black 100%);
    overflow: hidden;
}

.cards-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
}

.sec-2-btn {
    max-width: 300px;
    background-color: var(--cor-intermediaria);
    color: black;
    font-size: 1.3em;
    margin: 0px 20px;
    margin-top: 50px;

}

/* SEC 2 CARDS */

.card-oque-tem {
    max-width: 300px;
    width: 100%;
    height: 200px;
    border-radius: 20px;
    margin: 0px 20px;
    padding: 20px 40px;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    background-color: white;
    color: black;
    box-shadow: -10px 0px 40px rgba(255, 255, 255, 0.2);
    z-index: 99;
}

.card-oque-tem h3 {
    color: var(--cor-intermediaria);
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.466);
    font-size: 30px;
}

.card-oque-tem p {
    font-size: 15px;
    text-align: center;
    color: #868686;
    font-weight: 600;
}

.sec-2 img {
    width: 100%;
}


/* SEC 3 */

.sec-3 {
    width: 100%;
    position: relative;
    padding: 30px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FBFBFB;
    gap: 40px;
}

.sec-3 h2 {
    font-size: 1.5em;
    background-color: var(--cor-intermediaria);
    padding: 10px;
}

.article-sec-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    gap: 10px;
}

.article-sec-3 p {
    max-width: 250px;
    color: var(--cor-intermediaria);
    font-size: 1.2em;
    text-align: center;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.cards-container-sec-3 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* SEC 4 */

.sec-4 {
    width: 100%;
    padding: 20px;
    background-image: linear-gradient(to left, #1b1b1b 0%, black 100%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.garantia-img {
    width: 100%;
    max-width: 700px;
}

.garantia-img img {
    width: 100%;
}

.sec-4 p {
    text-align: justify;
    margin-top: 20px;
    max-width: 650px;
}

.sec-3-btn {
    font-size: 1.5em;
    max-width: 300px;
    margin-top: 50px;
}

/* FOOTER */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer section {
    max-width: 1500px;
    width: 100%;
    height: 120px;
    background-color: white;
}

.footer section:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid rgba(0, 0, 0, 0.096);
}

.footer section:nth-child(2) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer section:nth-child(2) p {
    font-size: 10px;
}

.footer section:nth-child(2) p a {
    color: black;
    transition: .2s;
}

.footer section:nth-child(2) p a:hover {
    color: rgb(255, 255, 255);
}

.footer-logo {
    width: 100px;
    height: 100px;
}


.footer-logo img {
    width: 100%;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.514));
}

.redes {
    display: flex;
    gap: 10px;
}

.rede a img {
    width: 40px;
    transition: .3s;
}

.rede a img:hover {
    filter: drop-shadow(5px 5px 1px rgba(0, 0, 0, 0.3));
    transform: scale(1.1);
}

footer a {
    text-decoration: underline;
}

a {
    text-decoration: none;
}
